<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="homePage">
<!-- Navbar -->
<div class="navbar">
    <a href="/" class="active">
        <img src="/images/ball.png" alt="Palla" class="logo">
    </a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="president/squadra">Squadra</a>
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<div class="profilePresident-container">
    <div class="profilePresident-card">
        <h1>Profilo Presidente</h1>
        <p><strong>Codice Fiscale:</strong> <span th:text="${authentication.getPresidente().getCodiceFiscale()}"></span></p>
        <p><strong>Nome:</strong> <span th:text="${authentication.getPresidente().getNome()}"></span></p>
        <p><strong>Cognome:</strong> <span th:text="${authentication.getPresidente().getCognome()}"></span></p>
        <p><strong>Data di Nascita:</strong> <span th:text="${authentication.getPresidente().getDataNascita()}"></span></p>
        <p><strong>Luogo di Nascita:</strong> <span th:text="${authentication.getPresidente().getLuogoNascita()}"></span></p>
        <p th:if="${authentication.getPresidente().getSquadra() != null}"><strong>Squadra:</strong> <span th:text="${authentication.getPresidente().getSquadra().getNome()}"></span></p>
        <p th:if="${authentication.getPresidente().getSquadra() == null}"><strong>Squadra:</strong> <span th:text="'Non hai una squadra assegnata'"></span></p>
    </div>
    <div class="profilePresident-actions" th:if="${authentication.getPresidente().getSquadra() != null}">
        <a th:href="'/president/squadra'" class="profilePresident-button">Visualizza Squadra</a>
    </div>
</div>

<br>
<br>
<br>

<footer class="aboutPage-footer">
    <p>&copy; 2024 Siw-Football. All rights reserved.</p>
</footer>
</body>
</html>