<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica Squadra</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="homePage">
<!-- Navbar -->
<div class="navbar">
    <a href="/admin/indexAdmin" class="active">
        <img src="/images/ball.png" alt="Palla" class="logo">
    </a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<br>
<br>
<div class="modificaSquadra-content">
    <h2>Modifica squadra</h2>
    <form class="modificaSquadra-form" th:action="@{'/admin/salvaModifiche/' + ${squadra.getId()}}" method="post" enctype="multipart/form-data">
        <!-- Campo Nome Squadra -->
        <fieldset>
            <legend>Dati Squadra</legend>

            <label for="squadra-nome">Nome:</label>
            <input type="text" id="squadra-nome" th:field="${squadra.nome}">

            <label for="squadra-annoFondazione">Anno di Fondazione:</label>
            <input type="date" id="squadra-annoFondazione" th:field="${squadra.annoFondazione}" required>

            <label for="squadra-indirizzoSede">Indirizzo della Sede:</label>
            <input type="text" id="squadra-indirizzoSede" th:field="${squadra.indirizzoSede}" required>

            <label for="squadra-logo">Logo:</label>
            <input type="file" id="squadra-logo" name="file">
        </fieldset>

        <fieldset>
            <legend>Cambia presidente</legend>
            <label for="squadra-presidente">Presidente:</label>
            <select id="squadra-presidente" th:field="${squadra.presidente}">
                <option th:each="presidente : ${presidenti}" th:value="${presidente.codiceFiscale}" th:text="${presidente.nome}"></option>
            </select>
        </fieldset>

        <button type="submit" class="newSquadra-button">Salva Squadra</button>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>

<footer class="aboutPage-footer">
    <p>&copy; 2024 Siw-Football. All rights reserved.</p>
</footer>
</body>
</html>
