<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestione Giocatori</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="homePage">
<!-- Navbar -->
<div class="navbar">
    <a href="/admin/indexAdmin" class="active">
        <img src="/images/ball.png" alt="Palla" class="logo">
    </a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<div class="adminGiocatori-container">
    <h1 class="adminGiocatori-title">Giocatori</h1>

    <div th:if="${giocatori.isEmpty()}">
        Non ci sono giocatori
    </div>
    <div class="adminGiocatori-list" th:each="giocatore : ${giocatori}">
        <div class="adminGiocatori-card">
            <h2 th:text="${giocatore.getNome()} + ' ' + ${giocatore.getCognome()}"></h2>
            <p th:text="'Data di Nascita: ' + ${giocatore.getDataNascita()}"></p>
            <p th:text="'Ruolo: ' + ${giocatore.getRuolo()}"></p>
        </div>
    </div>

    <div class="adminGiocatori-actions">
        <a th:href="@{/admin/formNewGiocatore}">Aggiungi Giocatore</a>
    </div>
</div>

<br>
<br>
<br>

<footer class="aboutPage-footer">
    <p>&copy; 2024 Siw-Football. All rights reserved.</p>
</footer>
</body>
</html>