<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Admin</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <a href="/admin/indexAdmin" class="active">
        <img src="images/ball.png" alt="Palla" class="logo">
    </a>
    <a href="#services">Team</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<h1> Giocatori: </h1>
<div th:if="${giocatori.isEmpty()}">
    Non ci sono giocatori
</div>
<div th:each=" giocatore : ${giocatori}">
    <p th:text="${giocatore.getNome()} + ' ,' + ${giocatore.getCognome()}"></p>
</div>

<div>
    <a th:href="@{/admin/formNewGiocatore}"> aggiungi giocatore</a>
</div>
</body>
</html>