<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="indxAdmin">
<!-- Navbar -->
<div class="navbar">
    <a href="/admin/indexAdmin" class="active">
        <img src="/images/ball.png" alt="Palla" class="logo">
    </a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<!-- Container principale -->
<div class="indxAdmin-container">
    <div class="indxAdmin-card">
        <img src="/images/team.png" alt="Icona squadre">
        <h3>Gestione Squadre</h3>
        <a th:href="@{/admin/squadre}">Gestisci squadre</a>
    </div>
    <div class="indxAdmin-card">
        <img src="/images/player.png" alt="Icona giocatori">
        <h3>Gestione Giocatori</h3>
        <a th:href="@{/admin/giocatori}">Gestisci giocatori</a>
    </div>
    <!-- Aggiungi altre card di gestione se necessario -->
</div>

<br>
<br>
<br>

<footer class="aboutPage-footer">
    <p>&copy; 2024 Siw-Football. All rights reserved.</p>
</footer>
</body>
</html>