<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="homePage">
<!-- Navbar -->
<div class="navbar">
    <a href="/admin/indexAdmin" class="active">
        <img src="/images/ball.png" alt="Palla" class="logo">
    </a>
    <a href="#services">Team</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>
<div th:if="${authentication} != null">
    <span> sei loggato Admin:</span>
    <span th:text="${authentication.getUsername()}"></span>
</div>

<div class="content">
    Profilo Admin
</div>

</body>
</html>
