<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilo Admin</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="homePage">
<!-- Navbar -->
<div class="navbar">
    <a href="/admin/indexAdmin" class="active">
        <img src="/images/ball.png" alt="Palla" class="logo">
    </a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<!-- Profilo Admin -->
<div class="adminProfile-container">
    <div class="adminProfile-header">
        <h1>Profilo Admin</h1>
    </div>
    <div class="adminProfile-details">
       <!-- <img src="/images/admin-avatar.png" alt="Admin Avatar"> -->
        <div>
            <h2 th:text="${authentication.getUsername()}">Nome Admin</h2>

            <p>Ruolo: Amministratore</p>
        </div>
    </div>
    <!--
    <div class="adminProfile-actions">
        <a href="/admin/editProfile">Modifica Profilo</a>
        <a href="/admin/changePassword">Cambia Password</a>
    </div>
    -->
</div>

<br>
<br>
<br>

<footer class="aboutPage-footer">
    <p>&copy; 2024 Siw-Football. All rights reserved.</p>
</footer>

</body>
</html>
