<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squadra</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Collega il file CSS esterno -->
</head>
<body class="squadraPage">
<!-- Navbar -->
<div class="navbar">
    <a href="/" class="active">
        <img src="images/ball.png" alt="Palla" class="logo">
    </a>
    <a href="#services">Team</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <div th:if="${authentication} == null" class="navbar-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div th:if="${authentication} != null" class="navbar-right">
        <a href="/president/squadra">Squadra</a>
        <a href="/profile" th:text="${authentication.getUsername()}"></a>
        <a href="/logout" class="logout-link">Logout</a>
    </div>
</div>

<!-- Sezione dei dettagli della squadra -->
<div class="squadra-details">
    <h2 th:text="${squadra.getNome()}"></h2>
    <p>Anno di Fondazione: <span th:text="${squadra.getAnnoFondazione()}"></span></p>
    <p>Indirizzo Sede: <span th:text="${squadra.getIndirizzoSede()}"></span></p>
</div>

<!-- Sezione delle card dei giocatori -->
<div class="squadra-container">
    <div th:if="${squadra.getGiocatori().isEmpty()}">
        Non ci sono giocatori tesserati
    </div>

    <div th:each="giocatore : ${squadra.getGiocatori()}" class="player-card">
        <h2 th:text="${giocatore.getGiocatore().getNome()} + ' ' + ${giocatore.getGiocatore().getCognome()}"></h2>
        <p>Data di Nascita: <span th:text="${giocatore.getGiocatore().getDataNascita()}"></span></p>
        <p>Luogo di Nascita: <span th:text="${giocatore.getGiocatore().getLuogoNascita()}"></span></p>
        <p>Ruolo: <span th:text="${giocatore.getGiocatore().getRuolo()}"></span></p>
        <a th:href="@{'/giocatore/' + ${giocatore.getGiocatore().getId()}}" class="player-link">Visualizza Dettagli</a>
    </div>
</div>

</body>
</html>
